In [26]:
import pandas as pd
import numpy as np
import ast

In [2]:
base = pd.read_csv("data/base_allocations.csv", engine="pyarrow")
base["Token allocation"] = base["Token allocation"].str.replace(",", "").astype(float)
base.head()

,Name,Contribution type,% Allocation,Token allocation,Link to project in app,Notes,Total % allocated:,100.00%,Unallocated,0.00%
0,Aerodrome Finance,Gold,6.15%,615385.0,https://vote.optimism.io/retropgf/3/applicatio...,Supported liquidity of Base tokens and attract...,NaN,NaN,NaN,NaN
1,Basepaint,Gold,6.15%,615385.0,https://vote.optimism.io/retropgf/3/applicatio...,Brought new kinds of users onchain and created...,NaN,NaN,NaN,NaN
2,go-ethereum,Gold,6.15%,615385.0,https://vote.optimism.io/retropgf/3/applicatio...,Was the primary execution client for Base,NaN,NaN,NaN,NaN
3,L2Beat,Silver,1.54%,153846.0,https://vote.optimism.io/retropgf/3/applicatio...,Created visibility into Base across all core c...,NaN,NaN,NaN,NaN
4,Blockscout,Silver,1.54%,153846.0,https://vote.optimism.io/retropgf/3/applicatio...,Supported block explorer for Base and other OP...,NaN,NaN,NaN,NaN

In [3]:
votes = pd.read_csv("data/votes.csv", engine="pyarrow")
votes.head()

,project_name,votes,number_of_votes
0,0xDeFiTH,"[100000.0, 1700.0, 0.0, 5000.0, 0.0, 2000.0, 4...",23
1,0xKhmer,"[1500.0, 1700.0, 50000.0, 10000.0, 5000.0, 240...",22
2,0xSalman,"[25000.0, 50000.0, 25000.0, 57000.0, 10000.0, ...",19
3,0xs34n,"[25000.0, 67000.0, 150000.0, 15000.0, 25000.0,...",31
4,1W3,"[150000.0, 75000.0, 2000.0, 5000.0, 150000.0, ...",27

In [5]:
df = votes
df

,project_name,votes,number_of_votes
0,0xDeFiTH,"[100000.0, 1700.0, 0.0, 5000.0, 0.0, 2000.0, 4...",23
1,0xKhmer,"[1500.0, 1700.0, 50000.0, 10000.0, 5000.0, 240...",22
2,0xSalman,"[25000.0, 50000.0, 25000.0, 57000.0, 10000.0, ...",19
3,0xs34n,"[25000.0, 67000.0, 150000.0, 15000.0, 25000.0,...",31
4,1W3,"[150000.0, 75000.0, 2000.0, 5000.0, 150000.0, ...",27
...,...,...,...
638,zenbit.eth,"[23000.0, 10000.0, 20000.0, 10000.0, 20000.0, ...",11
639,zerokn0wledge,"[25000.0, 45000.0, 2000.0, 5000.0, 1800.0, 150...",24
640,⚡️ TurboETH,"[50000.0, 50000.0, 80000.0, 25000.0, 110000.0,...",47
641,🏰 BuidlGuidl,"[500000.0, 50000.0, 50000.0, 790000.0, 100000....",88
642,🐍 snekmate,"[25000.0, 7000.0, 68000.0, 10000.0, 25000.0, 1...",49

In [16]:
df["base_vote"] = [0 if base["Token allocation"][base['Name']==p].empty else base["Token allocation"][base['Name']==p].to_list()[0] for p in df["project_name"] ]

In [29]:
df['votes'] = df['votes'].apply(ast.literal_eval)

In [72]:
# np.median(df["votes"][0])
v=[]
for i, row in df.iterrows():
    if row["base_vote"]!=0.:
        minimum = np.inf
        voted = row["base_vote"]
        for vote in row["votes"]:
            if minimum>abs(row["base_vote"]-vote):
                minimum = abs(row["base_vote"]-vote)
                voted = vote
        v.append(voted)
        continue
    v.append(0)

In [73]:
df["base_vote_round"] = v

In [74]:
df.to_csv("data/output.csv", index=False)